<div class="container">
  <div class="screen-card">
    <div class="left-section">
      <div class="form-wrapper">
        <form [formGroup]="formGroup">
          <div class="card form-card">
            <div class="form-field">
              <label>Email</label>
              <input
                type="email"
                pInputText
                id="pInputEmail"
                formControlName="email"
                class="p-fluid"
              />
              <div
                *ngIf="
                  formGroup.controls['email'].errors?.required &&
                  formGroup.controls['email'].touched
                "
                class="error-message"
              >
                <small class="text-danger">Email is required.</small>
              </div>
              <div
                *ngIf="
                  formGroup.controls['email'].errors?.email &&
                  formGroup.controls['email'].touched
                "
                class="error-message"
              >
                <small class="text-danger">Email format ***@***.</small>
              </div>
            </div>

            <div class="form-field">
              <label>Password</label>
              <p-password
                formControlName="password"
                [toggleMask]="true"
                [feedback]="false"
                styleClass="p-fluid"
              ></p-password>
              <div
                *ngIf="
                  formGroup.controls['password'].errors?.required &&
                  formGroup.controls['password'].touched
                "
                class="error-message"
              >
                <small class="text-danger">Password is required.</small>
              </div>
            </div>

            <div class="button-container">
              <p-button
                label="Sign in"
                icon="pi pi-check"
                iconPos="right"
                styleClass="w-full"
              (onClick)="login()"

              ></p-button>
            </div>

            <div class="sign-up-link">
              <p>Don't have an account? <a href="/auth/signup">Sign up here!</a></p>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="right-section">
      <div class="card image-card">
        <img
          src="https://img.freepik.com/free-vector/gradient-crm-illustration_23-2149370936.jpg?semt=ais_hybrid"
          alt="Image"
          class="responsive-image"
        />
      </div>
    </div>
  </div>
</div>