<!-- activities table -->
<div class="card">
  <p-toolbar styleClass="mb-4 gap-2">
    <ng-template pTemplate="left">
      <p>Activity list</p>
    </ng-template>

    <ng-template pTemplate="right">
      <p-button
        (onClick)="showDialog()"
        label="Add Activity"
        styleClass="custom-button"
      ></p-button>
    </ng-template>
  </p-toolbar>
  <p-table
    #dt
    [value]="activities"
    dataKey="id"
    [rowHover]="true"
    [sortOrder]="1"
    [paginator]="true"
    [rows]="5"
    [rowsPerPageOptions]="[5, 10, 20]"
    [globalFilterFields]="['date', 'type', 'subject', 'note']"
  >
    <ng-template pTemplate="caption">
      <div class="flex justify-content-between">
        <input
          pInputText
          type="text"
          (input)="onSearch($event)"
          placeholder="Keyword Search"
        />
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="date" style="width: 20%">
          Date <p-sortIcon field="date"></p-sortIcon>
        </th>
        <th pSortableColumn="participants" style="width: 20%">
          Participants <p-sortIcon field="participants"></p-sortIcon>
        </th>
        <th pSortableColumn="subject" style="width: 20%">
          Subject <p-sortIcon field="subject"></p-sortIcon>
        </th>
        <th pSortableColumn="type" style="width: 20%">
          Type <p-sortIcon field="type"></p-sortIcon>
        </th>

        <th pSortableColumn="note" style="width: 20%">
          Note <p-sortIcon field="note"></p-sortIcon>
        </th>
        <th>Actions</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-activity>
      <tr>
        <td>{{ activity.date | date : "short" }}</td>
        <td>
          <ul>
            <li *ngFor="let participant of activity.participants">
              {{ participant.firstName }} {{ participant.lastName }}
            </li>
          </ul>
        </td>
        <td>{{ activity.subject }}</td>
        <td>{{ activity.activityType }}</td>

        <td>{{ activity.note }}</td>
        <td>
          <div class="action-menu">
            <p-button
              icon="pi pi-pencil"
              (click)="editActivity(activity)"
            ></p-button>
            <p-button
              icon="pi pi-trash"
              (click)="deleteActivity(activity.id)"
            ></p-button>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="8">No activities found.</td>
      </tr>
    </ng-template>
  </p-table>
</div>
<!-- add activity dialog -->
<p-dialog
  header="Add New Activity"
  [modal]="true"
  [(visible)]="visible"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
  [maximizable]="true"
  styleClass="p-fluid"
>
  <app-activityform
    (newAddEvent)="saveActivity($event)"
    [contacts]="contacts"

  ></app-activityform>
</p-dialog>
<!-- edit activity dialog  -->
<p-dialog
  header="Activity Details"
  [(visible)]="activityDialog"
  [modal]="true"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
  [maximizable]="true"
  styleClass="p-fluid"
>
  <app-activityform
    *ngIf="reloadform"
    [activityEditForm]="activityEditForm"
    [contacts]="contacts"
    (newEditEvent)="saveEditActivity($event)"
  ></app-activityform>
</p-dialog>
