<!-- Contact's table -->
<div class="card">
  <p-toolbar styleClass="mb-4 gap-2">
    <ng-template pTemplate="left">
      <p>Contact list</p>
    </ng-template>

    <ng-template pTemplate="right">
      <p-button
        (onClick)="showDialog()"
        label="Add Contact"
        class="p-button-danger"
      ></p-button>
    </ng-template>
  </p-toolbar>
  <p-table
    #dt
    [value]="contacts"
    dataKey="id"
    [rowHover]="true"
    [sortOrder]="1"
    [tableStyle]="{ 'min-width': '60rem' }"
    [paginator]="true"
    [rows]="5"
    [rowsPerPageOptions]="[5, 10, 20]"
    [globalFilterFields]="[
      'firstName',
      'lastName',
      'company',
      'jobTitle',
      'email',
      'phone',
      'contactOwner'
    ]"
  >
    <ng-template pTemplate="caption">
      <div class="flex justify-content-between">
        <input
          pInputText
          type="text"
          (input)="dt.filterGlobal($event.target, 'contains')"
          placeholder="Keyboard Search"
        />
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="firstName" style="width: 20%">
          First Name <p-sortIcon field="firstName"></p-sortIcon>
        </th>
        <th pSortableColumn="lastName" style="width: 20%">
          Last Name <p-sortIcon field="lastName"></p-sortIcon>
        </th>
        <th pSortableColumn="company" style="width: 20%">
          Company <p-sortIcon field="company"></p-sortIcon>
        </th>
        <th pSortableColumn="jobTitle" style="width: 20%">
          Job Title <p-sortIcon field="jobTitle"></p-sortIcon>
        </th>
        <th pSortableColumn="email" style="width: 20%">
          Email <p-sortIcon field="email"></p-sortIcon>
        </th>
        <th pSortableColumn="phone" style="width: 20%">
          Phone <p-sortIcon field="phone"></p-sortIcon>
        </th>
        <th pSortableColumn="contactOwner" style="width: 20%">
          Contact Owner <p-sortIcon field="contactOwner"></p-sortIcon>
        </th>
        <th pSortableColumn="action field" style="width: 20%">Action</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-contact>
      <tr>
        <td>{{ contact.firstName }}</td>
        <td>{{ contact.lastName }}</td>
        <td>{{ contact.company }}</td>
        <td>{{ contact.jobTitle }}</td>
        <td>{{ contact.email }}</td>
        <td>{{ contact.phone }}</td>
        <td>{{ contact.contactOwner?.firstName || "N/A" }}</td>
        <td>
          <div class="action-menu">
            <p-button
              icon="pi pi-pencil"
              (onClick)="editContact(contact)"
            ></p-button>
            <p-button
              icon="pi pi-trash"
              (onClick)="deleteContact(contact.id)"
            ></p-button>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="8">No contacts found.</td>
      </tr>
    </ng-template>
  </p-table>
</div>
<!-- add contact dialog -->
<p-dialog
  header="Add New Contact"
  [modal]="true"
  [(visible)]="visible"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
  [maximizable]="true"
  >

      <div class="col flex align-items-center justify-content-center">
          <div [formGroup]="addForm">
            <fieldset>
              <legend>Main Information</legend>

              <div class="container">
                <div class="left-section">
                  <label>FirstName <span>*</span> </label>
                  <input type="text" pInputText formControlName="firstName" />
                  <div
                    *ngIf="
                      addForm.controls['firstName'].errors?.required &&
                      addForm.controls['firstName'].touched
                    "
                  >
                    <small class="text-danger">FirstName is required.</small>
                  </div>
                  <label>Email</label>
                  <input type="email" pInputText formControlName="email" />
                  <div
                    *ngIf="
                      addForm.controls['email'].errors?.email &&
                      addForm.controls['email'].touched
                    "
                  >
                    <small class="text-danger">email must be ***@*** .</small>
                  </div>
                  <label>Contact Owner</label>
                  <p-dropdown
                    formControlName="contactOwner"
                    [options]="contacts"
                    optionLabel="firstName"
                    placeholder="Select a Contact Owner"
                  ></p-dropdown>
                  <label>Job Title</label>
                  <p-dropdown
                    formControlName="jobTitle"
                    [options]="jobTitles"
                    placeholder="Select job title"
                  ></p-dropdown>
                </div>
                <div class="right-section">
                  <label>LastName <span>*</span> </label>
                  <input type="text" pInputText formControlName="lastName" />
                  <div
                    *ngIf="
                      addForm.controls['lastName'].errors?.required &&
                      addForm.controls['lastName'].touched
                    "
                  >
                    <small class="text-danger">LastName is required.</small>
                  </div>
                  <label>Phone</label>
                  <input type="number" pInputText formControlName="phone" />
                  <label>Company</label>
                  <input type="text" pInputText formControlName="company" />
                </div>
              </div>
            </fieldset>

            <fieldset formGroupName="address">
              <legend>Address</legend>

              <label>Address</label>
              <input type="text" pInputText formControlName="address" />
              <div class="container">
                <div class="left-section">
                  <label>Country</label>
                  <input type="text" pInputText formControlName="country" />
                  <label>City</label>
                  <input type="text" pInputText formControlName="city" />
                </div>
                <div class="right-section">
                  <label>State</label>
                  <input type="text" pInputText formControlName="state" />
                  <label>Zipcode</label>
                  <input type="number" pInputText formControlName="zipCode" />
                </div>
              </div>
            </fieldset>
          </div>
          <p-toolbar>
            <div class="p-toolbar-group-start">
              <button class="button-Cancel">Send email</button>
            </div>

            <div class="p-toolbar-group-end">
              <p-button
                label="Cancel"
                icon="pi pi-times"
                (onClick)="hideDialogAdd()"
              ></p-button>
              <p-button
                label="Save"
                icon="pi pi-check"
                (onClick)="addContact()"
              ></p-button>
            </div>
          </p-toolbar>
        </div>

</p-dialog>
<!-- edit contact dialog -->
<p-dialog
  [(visible)]="contactDialog"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
  [maximizable]="true"
  header="Contact Details"
  [modal]="true"
  styleClass="p-fluid"
>
<div class="card">
  <p-tabView>
  <p-tabPanel header="Profile"> 
    <form [formGroup]="editForm">
    <div class="field">
      <label for="firstName">First Name</label>
      <input
        type="text"
        pInputText
        id="firstName"
        formControlName="firstName"
        required
        autofocus
      />
      <small
        class="p-error"
        *ngIf="submitted && editForm.controls.firstName.invalid"
      >
        First Name is required.
      </small>
    </div>

    <div class="field">
      <label for="lastName">Last Name</label>
      <input
        type="text"
        pInputText
        id="lastName"
        formControlName="lastName"
        required
      />
      <small
        class="p-error"
        *ngIf="submitted && editForm.controls.lastName.invalid"
      >
        Last Name is required.
      </small>
    </div>

    <div class="field">
      <label for="email">Email</label>
      <input
        type="email"
        pInputText
        id="email"
        formControlName="email"
        required
      />
      <small
        class="p-error"
        *ngIf="submitted && editForm.controls.email.invalid"
      >
        A valid email is required.
      </small>
    </div>

    <div class="field">
      <label for="phone">Phone</label>
      <input type="text" pInputText id="phone" formControlName="phone" />
    </div>

    <div class="field">
      <label for="company">Company</label>
      <input type="text" pInputText id="company" formControlName="company" />
    </div>

    <div class="field">
      <label for="jobTitle">Job Title</label>
      <p-dropdown
        id="jobTitle"
        formControlName="jobTitle"
        [options]="jobTitles"
        placeholder="Select Job Title"
      >
      </p-dropdown>
    </div>

    <div class="field">
      <label for="contactOwner">Contact Owner</label>
      <p-dropdown
        id="contactOwner"
        formControlName="contactOwner"
        [options]="contacts"
        optionLabel="firstName"
        placeholder="Select Contact Owner"
      >
      </p-dropdown>
    </div>

    <fieldset formGroupName="address">
      <legend>Address</legend>

      <div class="field">
        <label for="address">Address</label>
        <input type="text" pInputText id="address" formControlName="address" />
      </div>

      <div class="formgrid grid">
        <div class="field col">
          <label for="country">Country</label>
          <input
            type="text"
            pInputText
            id="country"
            formControlName="country"
          />
        </div>
        <div class="field col">
          <label for="state">State</label>
          <input type="text" pInputText id="state" formControlName="state" />
        </div>
      </div>

      <div class="formgrid grid">
        <div class="field col">
          <label for="city">City</label>
          <input type="text" pInputText id="city" formControlName="city" />
        </div>
        <div class="field col">
          <label for="zipCode">Zip Code</label>
          <input
            type="text"
            pInputText
            id="zipCode"
            formControlName="zipCode"
          />
        </div>
      </div>
    </fieldset>
  </form>

  <ng-template pTemplate="footer">
    <p-button
      label="Cancel"
      icon="pi pi-times"
      (onClick)="hideDialog()"
    ></p-button>
    <p-button
      label="Save"
      icon="pi pi-check"
      (onClick)="saveContact()"
    ></p-button>
  </ng-template> </p-tabPanel>
  <p-tabPanel header="activities">
      <ng-template pTemplate="content"> activities </ng-template>
  </p-tabPanel>
 
  </p-tabView>
</div>
<!-- contact's activities -->
<ng-template pTemplate="content">
  <app-activities [contactId]="contactId"></app-activities>
</ng-template>
  
</p-dialog>
