<!-- Contact's table -->
<div class="card">
  <p-toolbar styleClass="mb-4 gap-2">
    <ng-template pTemplate="left">
      <p>Contact list</p>
    </ng-template>

    <ng-template pTemplate="right">
      <p-button
        (onClick)="showDialog()"
        label="Add Contact"
        class="p-button-danger"
      ></p-button>
    </ng-template>
  </p-toolbar>
  <p-table
    #dt
    [value]="contacts"
    dataKey="id"
    [rowHover]="true"
    [sortOrder]="1"
    [paginator]="true"
    [rows]="5"
    [rowsPerPageOptions]="[5, 10, 20]"
    [globalFilterFields]="[
      'firstName',
      'lastName',
      'company',
      'jobTitle',
      'email',
      'phone',
      'contactOwner'
    ]"
  >
    <ng-template pTemplate="caption">
      <div class="flex justify-content-between">
        <input
          pInputText
          type="text"
          (input)="onSearch($event)"
          placeholder="Keyword Search"
        />
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="firstName" style="width: 20%">
          First Name <p-sortIcon field="firstName"></p-sortIcon>
        </th>
        <th pSortableColumn="lastName" style="width: 20%">
          Last Name <p-sortIcon field="lastName"></p-sortIcon>
        </th>
        <th pSortableColumn="company" style="width: 20%">
          Company <p-sortIcon field="company"></p-sortIcon>
        </th>
        <th pSortableColumn="jobTitle" style="width: 20%">
          Job Title <p-sortIcon field="jobTitle"></p-sortIcon>
        </th>
        <th pSortableColumn="email" style="width: 20%">
          Email <p-sortIcon field="email"></p-sortIcon>
        </th>
        <th pSortableColumn="phone" style="width: 20%">
          Phone <p-sortIcon field="phone"></p-sortIcon>
        </th>
        <th pSortableColumn="contactOwner" style="width: 20%">
          Contact Owner <p-sortIcon field="contactOwner"></p-sortIcon>
        </th>
        <th pSortableColumn="action field" style="width: 20%">Action</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-contact>
      <tr>
        <td>{{ contact.firstName }}</td>
        <td>{{ contact.lastName }}</td>
        <td>{{ contact.company }}</td>
        <td>{{ contact.jobTitle }}</td>
        <td>{{ contact.email }}</td>
        <td>{{ contact.phone }}</td>
        <td>{{ contact.contactOwner?.username || "N/A" }}</td>
        <td>
          <div class="action-menu">
            <p-button
              icon="pi pi-pencil"
              (onClick)="editContact(contact)"   [disabled]="contact.contactOwner?.email != currentUser?.email"
            ></p-button>
            <p-button
              icon="pi pi-trash"
              (onClick)="deleteContact(contact.id)"  [disabled]="contact.contactOwner?.email != currentUser?.email" 
            ></p-button>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="8">No contacts found.</td>
      </tr>
    </ng-template>
  </p-table>
</div>
<!-- add contact dialog -->
<p-dialog
  header="Add New Contact"
  [modal]="true"
  [(visible)]="visible"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
  [maximizable]="true"
  styleClass="p-fluid"
>
  <div class="card">
    <app-contactform
      (newAddEvent)="addContact($event)"
    ></app-contactform>
  </div>
</p-dialog>
<!-- edit contact dialog -->
<p-dialog
  [(visible)]="contactDialog"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
  [maximizable]="true"
  header="Contact Details"
  [modal]="true"
  styleClass="p-fluid"
>
  <div class="card">
    <p-tabView>
      <p-tabPanel header="Profile">
        <app-contactform
          *ngIf="reloadform"
          [contactEditForm]="contactEditForm"
          (newEditEvent)="saveEditContact($event)"
        ></app-contactform>
      </p-tabPanel>
      <p-tabPanel header="activities">
        <ng-template pTemplate="content">
          <!-- contact's activities -->
          <app-activities
            *ngIf="reloadActivities"
            [contactId]="contactId"
          ></app-activities>
        </ng-template>
      </p-tabPanel>
    </p-tabView>
  </div>
</p-dialog>
